! Dejavu Sans Mono, https://github.com/Lokaltog/powerline-fonts/tree/master/DejaVuSansMono
*xterm*faceName: DejaVu Sans Mono for Powerline
*xterm*faceSize: 9
*xterm*eightBitInput: false
*xterm*clientDecoration: none
*xterm*borderWidth: 20
*xterm.InternalBorder: 20
*xterm*bordercolor: red

! xterm*background:       #0c0d0e
xterm*background:       #3a3a3a
xterm*foreground:       #7f8f9f
xterm*scrollBar:        false
xterm*matcher.button:   1
xterm.transparent:    false
xterm*allow_bold:    true

Xft*dpi:                96
Xft*antialias:          true
Xft*hinting:            full

xterm*geometry: 85x16
xterm*fading:        0
xterm*tintColor:     #ffffff
xterm*shading:        0
xterm*inheritPixmap:     False

! black + red
!xterm*color0:     #3f3f3f
xterm*color0:      #101010
xterm*color1:      #705050
! green + yellow
xterm*color2:      #60b48a
xterm*color3:      #f0dfaf
! blue + purple
xterm*color4:      #506070
xterm*color5:      #dc8cc3
! cyan + white
xterm*color6:      #8cd0d3
xterm*color7:      #dcdccc
! bright-black + bright-red
xterm*color8:      #000000
xterm*color9:      #dca3a3
! bright-green + bright-yellow
xterm*color10:     #c3bf9f
xterm*color11:     #f0dfaf
! bright-blue + bright-purple
xterm*color12:     #94bff3
xterm*color13:     #ec93d3
! bright-cyan + bright-white
xterm*color14:     #93e0e3
xterm*color15:     #ffffff
!}}}
