button-title=\ 
button-icon=xfce4_xicon2
show-button-title=true
show-button-icon=true
launcher-show-name=true
launcher-show-description=true
hover-switch-category=false
category-icon-size=1
item-icon-size=2
load-hierarchy=false
favorites-in-recent=true
display-recent-default=false
position-search-alternate=false
position-commands-alternate=false
command-settings=xfce4-settings-manager
command-lockscreen=xflock4
command-logout=xfce4-session-logout
favorites=exo-terminal-emulator.desktop,exo-file-manager.desktop,exo-mail-reader.desktop,exo-web-browser.desktop,google-chrome.desktop
recent=xfce4-screenshooter.desktop,jetbrains-phpstorm.desktop,jetbrains-webstorm.desktop,google-chrome.desktop,gmusicbrowser.desktop,ccsm.desktop,exo-file-manager.desktop,xfce-wmtweaks-settings.desktop,xfce-wm-settings.desktop,terminator.desktop
menu-width=538
menu-height=645

