button-title=Applications Menu
button-icon=xfce4-whiskermenu
show-button-title=false
show-button-icon=true
launcher-show-name=true
launcher-show-description=true
hover-switch-category=false
category-icon-size=1
item-icon-size=2
load-hierarchy=false
favorites-in-recent=true
display-recent-default=false
position-search-alternate=false
position-commands-alternate=false
command-settings=xfce4-settings-manager
command-lockscreen=xflock4
command-logout=xfce4-session-logout
favorites=exo-terminal-emulator.desktop,exo-file-manager.desktop,exo-mail-reader.desktop,exo-web-browser.desktop,gmusicbrowser.desktop
recent=mysql-workbench.desktop,xfce-keyboard-settings.desktop,exo-web-browser.desktop,exo-file-manager.desktop,google-chrome.desktop,gmusicbrowser.desktop,gimp.desktop,firefox.desktop,xfce-ui-settings.desktop,remmina.desktop
menu-width=400
menu-height=500

