[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/schleumer/Desktop/prefeito-rodrigo-neves-apresentou-identidade-visual-para-os-proximos-ano.jpg]
row=1
col=1

[/home/schleumer/Desktop/New Folder]
row=0
col=0

[/home/schleumer/Desktop/app 2.zip]
row=2
col=0

[/home/schleumer/Desktop/steam.desktop]
row=1
col=0

[/home/schleumer/Desktop/app.zip]
row=3
col=0

[/home/schleumer/Desktop/app]
row=0
col=1

